@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container{
    max-width: 1200px;
}

.pd-r {
    padding-right: 1.5rem;
}

.pd-l {
    padding-left: 1.5rem;
}

.pd-5 {
    padding: 2rem;
}
/* Main Menu */
.menu-wrapper {
    background-color: #0059a7;
}

.menu-wrapper .nav{
    // line-height: 55px;
    // padding-top: .3125rem;
    // padding-bottom: .3125rem;
}

.menu-wrapper .nav ul li a{
    color: #ffffff;
    font-family: Open Sans;
    font-weight: bold;
}

.menu-wrapper .nav li.twoLineNav {
    line-height: 23px;
}

ul.dropdown-menu {
    width: 17rem;
    margin: auto;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    justify-content: space-between;
}
input#SearchBoxText {
    padding: .4rem;
}
.form-group {
    width: 40%;
}
select#DDL_SearchWhat {
    padding: .5rem;
    margin-right: 1rem;
}
.form-control {
    width: 85%;
}
#BTN_Search {
    background: url(/images/search.gif) no-repeat;
    background-size: 18px;
    width: 24px;
    vertical-align: text-top;
    border: none;
    margin-top: 8px;
    margin-left: -12%;
    cursor: pointer;
    color: transparent;
    filter: none;
}
.dropdown:hover .dropdown-menu {
    display: block !important;
    top: 53px;
    border: none;
}

#search-item {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: left;
    -webkit-justify-content: left;
    padding-right: 0 !important;
}

i.fa.fa-search {
    margin-left: -2.5rem;
}

@media all  and (max-width: 960px) and (min-width:769px){
    .nav-scroller a {
        font-size: 13px;
        margin: 0px !important;
    }
}


nav ul li:last-child a:first-child {
    margin-right: 0 !important;
}

.nav-scroller a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.dropdown-menu.show {
    background: #0059a7;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    margin-top: 1rem;
}

.dropdown-menu li {
   // line-height: 2rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid #7ab1e2;
    background: #0059a7;
}

.dropdown-menu li:last-child {
    border: none;
}

.dropdown-toggle::after {
    margin-left: .75rem !important;
}

.child_menu {
    display: none;
}

.nav-scroller a:last-child::after {
    content: "";
    display: none;
}

.nav-scroller nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-scroller nav ul li {
    //line-height: 4rem;
    padding: 15px 10px;
}

.nav-scroller nav ul.dropdown-menu li {
//line-height: 4rem;
    padding: 10px;
}


.nav-scroller nav ul li a {
    color: #ffffff;
}

#homeSlider {
    position: relative;
    /*height: 400px;*/
    background-image: url(../images/slide-1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

#homeSlider::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff30;
}

    #homeSlider .carousel-caption {
        position: initial;
        /*top: 40%;*/
        /*left: 50%;*/
        /*right: 0;*/
        z-index: 10;
        color: #fff;
        text-align: left;
        /*transform: translate(-50%, -50%);*/
        margin: auto;
        padding: 15px;
        color: #285308;
    }

.carousel-caption h2 {
    font-family: Open Sans;
    font-size: 38px;
    font-weight: bold;
    color: #000;
}

.carousel-caption h3 {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: normal;
}

.carousel-caption p {
    font-family: Open Sans;
    font-size: 22px;
    font-weight: normal;
    color: #000;
}

.slider-btn {
    display: block;
}

.learn-more {
    padding: .55rem 2.1rem;
    background-color: #4a851f;
    border-radius: .5rem;
    color: #ffffff;
    font-weight: bold;
    font-family: Open Sans;
    font-size: 18px;
    border: 2px solid #6cff00;
    transition: all .3s;
}

a.learn-more:hover {
    text-decoration: none;
    background-color: #336111;
    color: #ffffff;
    transition: all .3s;
}

.resources {
    margin-top: 2rem;
}

.rounded-0{
    height: 100%;
}

.circle-color {
    color: #b2cde4;
}

.news-title {
    top: 0;
    left: 12.4rem;
    margin-top: -.1rem;
    color: #bb0e3d;
    font-size: 2rem;
    display: block;
    width: 100%;
    font-weight: bold;
    position: absolute;
}

.custom-shadow {
    box-shadow: 5px 20px 20px 0px rgba(0, 0, 0, .2);
}

.twitter-stats {
    background-image: url(../images/twitter.png);
    background-repeat: no-repeat;
    background-position: 32% 0%;
}

.twitter-stats ul {
    list-style: none;
}

.twitter-stats li {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: block;
    border-bottom: 1px dashed #dddddd;
}

.footer {
    background-color: #0059a7;
    color: #ffffff;
    margin-top: 8rem !important;
}

.footer .list-unstyled li a {
    color: #ffffff;
    font-weight: normal;
}

.footer .list-unstyled li a:hover {
    text-decoration: underline;
}

.footer .footer-hints-info a{
    color: #ffffff;
}

.footer .footer-hints-info a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.footer .footer-copyright a{
    color: #ffffff;
    font-weight: normal;
}

.footer .footer-copyright a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.twit-icon {
    background-image: url(../images/twitter-icon.jpg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
}

a.twit-icon:hover{
    border: 1px solid;
}

.hint-ribbon {
    position: relative;
    background-color: #0059a7;
    width: 157px;
    height: 57px;
    text-align: center;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-top: -4.7rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

    .hint-ribbon img {
        width: 4rem;
    }

    .hint-ribbon::before {
        position: absolute;
        z-index: 0;
        content: '';
        display: block;
        border: 14px solid #033967;
    }

    .hint-ribbon::before {
        border-top-color: transparent;
        border-left-color: transparent;
        left: -28px;
        top: 0px;
    }

    .hint-ribbon::after {
        position: absolute;
        z-index: 0;
        content: '';
        display: block;
        border: 14px solid #033967;
    }

    .hint-ribbon::after {
        border-top-color: transparent;
        border-right-color: transparent;
        right: -28px;
        top: 0px;
    }

.collapse.show {
    display: block;
}

.collapse {
    display: none;
}

.hints-logo {
    padding: 0;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.news-block {
    margin-left: 3rem !important;
    margin: 3rem;
}

div#navbarNavDropdown {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

@media all and ( max-width: 425px) {
    div#res-box {
        padding: 0 !important;
        margin: 1rem;
    }

    .rounded-0 {
        padding: 2rem !important;
        height: auto !important;
    }
}

@media all and (max-width: 3000px) and (min-width:768px) {
    .nav-list {
        display: none !important;
    }
}
@media all and (max-width: 768px){

    .dropdown-menu li {
        border-bottom: 1px solid #dcdcdc;
        background: #ffffff;
    }
    .dropdown-menu li a{
        color: #000000;
    }
}

@media all and (min-width: 768px) {
    .desktop-logo {
        width: 40rem;
    }
}

@media all and (max-width:767px) and (min-width: 320px){
    .desktop-logo {
        display: block;
        width: 17rem;
    }
}

@media all and (max-width:768px) {
    .carousel-caption h2 {
        font-size: 27px;
    }

    .carousel-caption h3 {
        font-size: 18px;
    }

    .carousel-caption p {
        font-size: initial;
    }

    .nav-list {
        display: block !important;
    }

    #search-item, .menu-wrapper {
        display: none;
    }

    #homeSlider .carousel-caption {
        text-align: center;
        /*top: 36%;*/
    }

    .hint-ribbon {
        display: none;
    }

    .pd {
        padding: 1rem;
    }

    .pd-r {
        padding-right: .25rem;
    }

    .pd-l {
        padding-left: .25rem !important;
    }

    .padding-025 {
        padding-right: .25rem !important;
    }

    .padding-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .padding-left-0 {
        padding-left: 0 !important;
    }

    .rounded-0 {
        text-align: center;
    }
}

@media all and (max-width:960px) and (min-width: 768px) {
    #search-item {
        display: none;
    }

    .nav-scroller a {
        margin-right: .5rem;
        margin-left: .5rem;
    }

        .nav-scroller a::after {
            right: -1rem;
        }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-menu {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media all and (max-width:1024px) {
    .twitter-stats {
        padding-right: 2rem !important;
    }

    #homeSlider .carousel-caption {
        text-align: center;
    }

    .hints-logo {
        display: none !important;
    }

    .circle-color svg {
        display: none;
    }

    .news-title {
        left: 3.4rem;
        position: relative;
    }

    .news-block {
        margin-left: 0rem !important;
        margin: 0;
    }
}

@media all and (max-width:1922px) and (min-width: 1440px) {

    /*.custom-wrapper {*/
        /*-ms-flex: 0 0 75.333333% !important;*/
        /*flex: 0 0 75.333333% !important;*/
        /*max-width: 75.333333% !important;*/
    /*}*/
}

@media all and (max-width:1440px) and (min-width: 1200px) {
    .twitter-stats {
        padding-right: 3rem !important;
    }

    /*.custom-wrapper {*/
        /*-ms-flex: 0 0 98.333333% !important;*/
        /*flex: 0 0 98.333333% !important;*/
        /*max-width: 98.333333% !important;*/
    /*}*/
}


/* Books & Reports */

.book.book_img{
    width: 29%;
    display: inline-block;
    vertical-align: top;
}

.book.book_img img{
    max-width: 100%;
    height: auto;
}

.book.book_info{
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 0 10px;
}

@media all and (max-width:536px) and (min-width: 320px){
    .book.book_img{
        width: 100%;
        display: block;
    }

    .book.book_info{
        width: 100%;
        display: block;
        padding: 0 10px;
    }
}
.video-container {
    position: relative;
    width: 50%;
    overflow: hidden;
    padding-top: 30%;
}

.iframe-responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Extra small devices (phones, 600px and down) */
@media all and (max-width:767px) and (min-width: 320px){
    .video-container {
        width: 100%;
        padding-top: 60%;
    }
}

.covid-banner{
    background: #fada87;
    color: #000000 !important;
    padding: 5px 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    word-break: break-word;
    font-size: 0.75em;
}

.covid-banner .banner-details{
    overflow: hidden;
    width: 100%;
}

.covid-banner .banner-title p{
    color: #000000;
    padding-bottom: 5px;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

.covid-banner .banner-inner-content p{
    margin: 10px 0;
    padding: 0;
    font-size: 14px;
}

.covid-banner a{
    color: #000000;
    text-decoration: underline;
}

.covid-banner .banner-toggle{
    display: block;
    text-align: center;
}

.covid-banner .banner-details .banner-toggle a.toggle-icon.collapsed::before{
    content: "Expand";
}

.covid-banner .banner-details .banner-toggle a.toggle-icon::before{
    content: "Collapse";
}


/*.hints-logo {*/
    /*width: 15%;*/
    /*height: 30%;*/
/*}*/


.rwb_contactby {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    width: 188px;
    margin-left: auto;
    margin-right: auto;
    height:70px;
}

.rwb_contactby a {
    color:#fff;
}