.warningbanner_maindiv {
    background: #fada87;
    color: #000000 !important;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    font-style: italic;
}

.warningbanner_maindiv a {
    color: #000000;
    text-decoration: underline !important;
}

.warningbanner_h2 {
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px
}