// ------------------------------- 
// Footer
// -------------------------------

.footer {
	@include center($max-container-width); 
	background-color: $footer-bg; 
	font-size: $footer-font-size; 
	color: $white; 

	a { 
		color: $white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		} 
	}

	p { 
		text-align: center; 
		padding: 7px 0;
		margin: 0;
	}

	hr { 
		border: none;
		height: 1px; 
		background-color: $white; 
		width: 98%;

		@media #{$small-and-down} { display: none; } 
	}

	img {
		@media #{$small-and-down} { 
			display: block; 
			margin: 0 auto;
		}
	}

	> div { 
        @include center($max-container-width); 

        ul {
        	padding: 0 10%;
        	list-style: none;

        	li {
        		display: inline-block;
        		margin-right: 5%; 
        	}	
        }
	}

	#footer_nav { 
		@include center(100%); 
		margin-top: 7px; 
		margin-bottom: 7px; 
        @media #{$medium-only} { @include center(100%); }
        @media #{$small-and-down} { 
        	max-width: 100%; 
        	width: 50%; 
        	display: inline-block; 
        }

		.connect {
			position: relative;
			top: 0;
			left: 0;
		}
		
        li { 

			padding-top: 10px;
			padding-bottom: 10px;

        	@media #{$small-and-down} {
	        	display: block; 
	        	padding-bottom: 5px; 
	        }	
        }

        img {

			width: 32px;
			@include bx-shadow(0, 5px, $dark-grey);
			border: none;

        	@media #{$small-and-down} { display: inline; margin-right: 2px; }
        }

       	#tw {
			position: absolute;
			top: 0;
			left: 47px;
    	}

    	#fb {
    		position: absolute;
    		top: 0;
    		left: 83px;
    	}

    	#shareButton {
			position: absolute;
			top: 0;
			left: 83px;
			/*left: 119px;*/
    	}

    	#emailButton {
			position: absolute;
    		top: 0;
    		left: 119px;
    		/*left: 155px;*/
    	}

        .addthis_sharing_toolbox {
        	position: absolute;
        	top: 0;
        	/*left: 117px;*/
        	left: 83px;
        	width: 73px;
        
			.at300bs {
				@include bx-shadow(0, 5px, $dark-grey);
			}

        }
	}

	#footer_ext_links { 
		@include center(90%);
		margin-top: 0; 
		margin-bottom: 0; 

		@media #{$medium-only} { 
			padding: 0; 
			max-width: 88%; 
		} 

		@media #{$small-and-down} {
			padding: 0px 7px;
			width: 49%; 
        	display: inline-block; 
        	vertical-align: top;
		}

		li { 
        	@media #{$small-and-down} {
	        	display: block; 
	        	padding-bottom: 5px; 
	        }	
        }
	}
}