// ------------------------------- 
// Main Content
// @description Main Content Styles
// -------------------------------

#breadcrumbs {
    margin-top: 15px;
    font-size: $breadcrumb-font-size;
    color: $breadcrumb-font-color;
}