// ------------------------------- 
// Mixins
// -------------------------------

@mixin center($width) {
  max-width: $width;  
  margin-right: auto; 
  margin-left: auto;
}

@mixin calculate-col-width($width, $col, $span) {
    width: percentage(($width * ($span / $col)) / $width) - 1%; 
}

@mixin radius-all($pixels) {
  border-radius: $pixels;
  -moz-border-radius: $pixels;
  -webkit-border-radius: $pixels;
}

@mixin radius-top($pixels) {
  -webkit-border-top-left-radius: $pixels;
  -moz-border-radius-topleft: $pixels;
  border-top-left-radius: $pixels;
  -webkit-border-top-right-radius: $pixels;
  -moz-border-radius-topright: $pixels;
  border-top-right-radius: $pixels;
}

@mixin radius-right-side($pixels) {
  -webkit-border-top-right-radius: $pixels;
  -moz-border-radius-topright: $pixels;
  border-top-right-radius: $pixels;
  -webkit-border-bottom-right-radius: $pixels;
  -moz-border-radius-bottomright: $pixels;
  border-bottom-right-radius: $pixels;
}

@mixin gradient-middle($color1, $color2) {
    background: $color1; /* Old browsers */
    background: -moz-linear-gradient(left, $color1 0%, $color2 38%, $color2 63%, $color1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$color1), color-stop(38%,$color2), color-stop(63%,$color2), color-stop(100%,#2b73a5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $color1 0%,$color2 38%,$color2 63%,$color1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $color1 0%,$color2 38%,$color2 63%,$color1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $color1 0%,$color2 38%,$color2 63%,$color1 100%); /* IE10+ */
    background: linear-gradient(to right, $color1 0%,$color2 38%,$color2 63%,$color1 100%); /* W3C */
    // Manually add the line below when using this mixin
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$color1", endColorstr="$color1",GradientType=1 );
}

@mixin bx-shadow($length, $blur, $color) {
  -moz-box-shadow: $length $length $blur $color;
  -webkit-box-shadow: $length $length $blur $color;
  box-shadow: $length $length $blur $color;
}

@mixin inside-bx-shadow($length, $blur, $color) {
  -moz-box-shadow: inset $length $length $blur $color;
  -webkit-box-shadow: inset $length $length $blur $color;
  box-shadow: inset $length $length $blur $color;
}

@mixin transition($property, $seconds, $trans, $delay) {
  -webkit-transition:$property $seconds $trans $delay;
  -moz-transition:$property $seconds $trans $delay;
  transition:$property $seconds $trans $delay;
}

@mixin bx-size($type) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}