// ------------------------------- 
// Variables 
// -------------------------------

/** Global Values **/
$red: 					#ff0000; 
$burgandy: 				#ab0102;
$green: 				#355a00;
$light-green: 			#5EA528; 
$lime-green: 			#9ACD65;
$yellow-green: 			#6EAE3D;  		
$light-blue:            #2b73a5;
$lighter-blue:          #7aabcc;
$lightest-blue: 		#E2EEF9; 
$blue:                  #2D73A2;
$darker-blue: 			#0d5cab; 
$sky-blue: 				#6fadd7; 
$navy: 					#0758ab; 
$lochmara-blue: 		#386898; 
$mike-blue: 			#163967; 
$yellow:				#FFFFEA; 

$scarpa-grey: 			#707070; 
$light-grey: 			#797979;
$grey: 					#959595;  
$dark-grey:             #333333;

$white:					#ffffff; 				
$black: 				#000000; 

$max-container-width:   960px;
$total-col:             6;
   
/** Typography **/
$arial: 				'Open Sans', Arial, Helvetica, Verdana, sans-serif !important;
$primary-font: 			$arial; 

$primary-font-size: 	1em; 						// ~16px
$large-font-size: 		$primary-font-size * 1.25;  // ~20px  
$larger-font-size:		$primary-font-size * 1.5;   // ~24px 
$largest-font-size: 	$primary-font-size * 1.8; 	
$small-font-size: 		$primary-font-size * 0.875; // ~14px  	
$smaller-font-size:		$primary-font-size * 0.75;  // ~12px
$smallest-font-size:	$primary-font-size * 0.68;  // ~11px

// Fonts
$h1-color: 				$light-green; 
$h2-color: 				$light-green; 
$h4-color: 				$darker-blue; 

$h1-font-size: 			$larger-font-size; 
$h2-font-size: 			$large-font-size; 
$h3-font-size: 			$primary-font-size; 
$h4-font-size: 			$smaller-font-size; 

$general-font-size: 	$smaller-font-size; 

$link-color:            $blue;

/** Elements **/
// Accordions
$accordion-bg: 			$lightest-blue; 
$accordion-bg-hover:	$lochmara-blue; 
$accordion-border: 		1px solid $black; 

// Buttons 
$btn-font-size:			$large-font-size; 
$btn-color: 			$black;

$btn-green-bg: 			$lime-green; 
$btn-grey-bg:			$grey;  
$btn-yellow-bg: 		$yellow; 

// Boxes 
$modal-close-bg: 		$grey; 
$modal-close-bg-hover: 	$lighter-blue; 

// Table
$table-border-color:	$black; 

/** Page Partials **/
// Header
/*$headertop_bg: 			$scarpa-grey;*/
$headertop_bg: 			$white;

$search-font-size:		$primary-font-size;  
$search-box-color:		$light-grey; 
$search-link-font-size:	$small-font-size;
$adv-mobile-link-color:	$lochmara-blue; 
$hamburger-menu:		$lochmara-blue; 

// Navigation
$nav_bg: 				$lochmara-blue; 
$nav_bg_hover:			$mike-blue; 
$nav-tablet-font-size:	$small-font-size; 

// Footer
$footer-font-size: 		$small-font-size; 

$footer_bg: 			$lochmara-blue; 
$footer-link-color: 	$white; 

// Main Content
$content-bg: 			$white; 

$breadcrumb-font-size:  $primary-font-size;
$breadcrumb-font-color: $dark-grey; 

// Sidebar
$sidebar-font-size:     $small-font-size; 
$sidebar-font-color:    $white; 

$nav-bgcolor-1:         $light-blue;
$nav-bgcolor-2:         $lighter-blue;       


/** Pages **/
// Homepage
$home-box-border-color: $light-grey; 
$home-box-title-bg: 	$yellow-green; 
$home-box-title: 		$large-font-size; 

$slider-caption-bg: 	$white; 
$slider-caption-font: 	$larger-font-size; 

// Questions Page
$results-header: 		$lime-green; 

/** Media Queries Breakpoints **/
$screen-xs:              480px; // Extra small screen / mobile
$screen-sm:              768px; // Small screen / tablet
$screen-md:              992px; // Medium screen / desktop
$screen-lg:              1200px; // Large screen / wide desktop

$screen-xs-max:          ($screen-sm - 1);
$screen-sm-max:          ($screen-md - 1);
$screen-md-max:          ($screen-lg - 1);

// Media query variables
$x-small-only: 			 "only screen and (max-width: 480px)";

$small-and-down:  		 "only screen and (max-width: 768px)";
$small-only:  			 "only screen and (min-width: 480px) and (max-width: 767px)";
$small-and-up: 			 "only screen and (min-width: 480px)";

$medium-and-down: 		 "only screen and (max-width: 979px)";
$medium-only: 			 "only screen and (min-width: 768px) and (max-width: 979px)";
$medium-and-up: 		 "only screen and (min-width: 768px)";

$large-and-down:  		 "only screen and (max-width: 1199px)";
$large-only:  			 "only screen and (min-width: 980px) and (max-width: 1199px)";
$large-and-up: 			 "only screen and (min-width: 980px)";

$x-large-only:    		 "only screen and  (min-width: 1200px)";
