#catlist_allquestions
{
    width: 720px;
    border: 1px black solid;
    padding: 1%;
}


#catlist_allquestions input
{
    width: 15px;
    float: left;
    display: block;
}

#catlist_allquestions label
{
    display: block;
    padding-left: 28px;
}


#dvQuestionsCycleList
{
    border: 1px solid black;
    padding: 1%;
    width: 100%;
     height:69px;
}
#dvQuestionsCycleList input
{
    width: 15px;
    float: left;
    display: block;
}

#dvQuestionsCycleList label
{
    display: block;
    padding-left: 24px;
    margin-right: 20px;
}


#dv_controls
{
    overflow: hidden;
    width: 720px;
     padding-top: 10px;
      clear:both;
}

#dv_controlClear
{
    float: left;
    padding-left: 3%;
}

#dv_controlSubmit
{
    float: right;
    padding-right: 3%;
}