.list_wrapper{
    overflow: hidden; 
    width: 715px;
        li {list-style:none;}
        h3 {  text-align:left;}
    div{
        float: left; 
        width: 96%;
    }
    .list_image_wrapper{
        float: left;
        width: 4%;
         img{
        border-color: #fff; 
        vertical-align: top;
        }
    }
}
