        .tblStyle { border-collapse:collapse; width: 100%; margin-bottom: 1em; }
        .tbl3-1Style { border-collapse:collapse; width: 60%; margin-bottom: 1em;}
        .tbl4Style { border-collapse:collapse; width: 80%; margin-bottom: 1em;}
        .tblStyle tr,.tbl3-1Style tr {vertical-align:top;}
        .tblStyle td, .tblStyle th, .tbl3-1Style td, .tbl3-1Style th, .tbl4Style td, .tbl4Style th { border: 1px solid black; padding: 3px; }         
         hr { margin-bottom: 1em; }
         ul ul { margin-bottom: 1em; }     